@use '../variable'
    
footer 
    width: 100%
    background-color: variable.$color-social

    .container
        padding: variable.$pad2
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: .8rem
        color: variable.$bg-project

        h3
            font-size: variable.$pad1

        p 
            font-size: .7rem
            font-weight: variable.$weight7
            color: #919191