@use '../variable'
    
#look
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: variable.$pad1
    margin-bottom: variable.$pad4

    h3 
        font-size: 1.3rem
        font-weight: variable.$weight6
        letter-spacing: variable.$space
        color: variable.$h3-color

    button 
        width: 330px
        height: 55px
        background-color: transparent
        border: 1px solid variable.$black
        font-size: .9rem
        font-weight: variable.$weight6
        color: variable.$color-social
        cursor: pointer
        letter-spacing: variable.$space