@use '../variable'
    
#logo
    padding: variable.$pad1 0
    text-align: center

    .principal-title 
        font-weight: variable.$weight7
        font-size: 1.3rem

    .principal-text 
        font-weight: variable.$weight6
        font-size: .8rem

    .title-mobile
        display: none

    @media(max-width: 800px)
        .principal-title,
        .principal-text 
            display: none

        .title-mobile
            display: block
            font-weight: variable.$weight7
            font-size: 1.1rem